#nav {
    width: 100%;
    float: right;
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
#nav li.right {
    float: left; }
#nav li.right p {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #ccc; }
#nav li.right p:hover {
    color: #c00;
    background-color: #fff; }
a {
    text-decoration: none;
}
#nav li.left {
    float: right; }
#nav li.left p {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-left: 1px solid #ccc; }
#nav li.left p:hover {
    color: #c00;
    background-color: #fff; }

